@import '../../../variables.scss';

.weather-container {
    box-shadow: 0 1rem 2rem rgba(black, 0.15);
    width: 85%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary-lighter);
    padding: 2rem;

    .favorite-icon {
        font-size: 4rem;
        fill: transparent;
        stroke: #333;
        cursor: pointer;
        transition: 0.2s;

        &:hover, &.favorite-icon--full {
            fill: rgb(204, 126, 126);
            stroke: rgb(204, 126, 126);
        } 
    }

    &__top {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $bp-s) {
            align-items: center;
        }
    }

    &__condition {
        font-size: 7rem;
        text-transform: capitalize;
    }

    &__today {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__degrees {
        font-size: 4rem;
    }

    &__location {
        font-size: 3rem;
        letter-spacing: 1px;
    }

    @media only screen and (max-width: $bp-m) {
        width: 100%;
	}

    @media only screen and (max-width: $bp-s) {
        background: transparent;
        box-shadow: none;
        gap: 4rem;
        font-size: 3rem;
        height: auto;
        margin-bottom: 2rem;
	}
}