@import "../../variables.scss";

.home {
	.MuiFormControl-root {
		width: 30%;
		margin: 2rem auto;

		.Mui-focused fieldset {
			border: 2px solid var(--color-primary-dark);
		}

		.MuiOutlinedInput-root:hover fieldset {
			border: 1px solid var(--color-primary-dark);
		}

		fieldset {
			border: 1px solid var(--color-primary);
		}

		input {
			color: var(--font-color-main);
			font-size: 2rem;
		}

		@media only screen and (max-width: $bp-s) {
			width: 100%;
		}
	}
}

.MuiAutocomplete-option,
.MuiAutocomplete-noOptions {
	font-size: 1.8rem;
}
