@import './variables.scss';

.app {
    text-align: center;
    width: 100%;
    padding: 2rem;
    height: 100vh;
    overflow-y: hidden;

    color: var(--font-color-main);
	font-size: 1.8rem;
    background-color: var(--app-background);
	font-family: var(--font-main);
	font-weight: 400;
    
    @media only screen and (max-width: $bp-s) {
        overflow-y: auto;
	}
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 4rem;
            text-transform: uppercase;
        }

        @media only screen and (max-width: $bp-s) {
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    &__tab-nav {
        display: flex;
    }

    &__tab-nav-item {
        padding: 0.5rem 1rem;
        border: 1px solid var(--font-color-main);
        cursor: pointer;
        color: var(--font-color-main);
        transition: 0.2s;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: none;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: none;
        }

        &:hover, &--selected {
            background-color: var(--color-primary);
            color: var(--font-color-main);
        }
    }

    &__preference {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 3rem;

        & > * {
            cursor: pointer;
            transition: 0.2s;
        }
    }

    &__degree-unit {
        &:hover {
            transform: scale(1.2);
        }
    }

    &__theme {
        height: 3rem;

        &:hover {
            transform: scale(1.15) rotate(30deg);
        }

        svg {
            font-size: 3rem;
        }
    }
}