@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import './variables.scss';


:root {
	--color-primary-darkest: #976008;
	--color-primary-darker: #b87409;
	--color-primary-dark: #d8890b;
	--color-primary: #f39c12;
	--color-primary-light: #f5aa32;
	--color-primary-lighter: #f6b753;
	--color-primary-lightest: #f8c573;
	--font-main: "Lato", sans-serif;
	--font-color-main: #362203;
	--app-background: #fef4e4;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@media only screen and (max-width: $bp-l) {
	    font-size: 50%;
	}

	@media only screen and (max-width: $bp-s) {
		// font-size: 43.75%;
	}
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-main);
	font-weight: 400;
	color: var(--font-color-main);
	font-size: 1.8rem;
    background-color: var(--app-background);

}
