@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import './variables.scss';


:root {
	--font-main: "Lato", sans-serif;

	.light {
		--color-primary-dark: #976008;
		--color-primary: #f39c12;
		--color-primary-light: #f5aa32;
		--color-primary-lighter: #f8c573;
		--font-color-main: #362203;
		--app-background: #fef4e4;
	}
	
	.dark {
		--color-primary-dark: #fef4e4;
		--color-primary: #14141f;
		--color-primary-light: #28283e;
		--color-primary-lighter: #14141f;
		--font-color-main: #fef4e4;
		--app-background: #222233;
	}
}

html {
	font-size: 62.5%;
	box-sizing: border-box;

	@media only screen and (max-width: $bp-l) {
	    font-size: 50%;
	}

	@media only screen and (max-width: $bp-s) {
		// font-size: 43.75%;
	}
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}